.idea/
.git
.DS_Store
/allure-results/
/node_modules/
allure-report
.xml
.vcode/
                                                                                                                                                                                                                                                                                                                                                                        
